.git
.github
.build
backend
frontend
data
tmp
docs
node_modules
**/node_modules
client/frontend/render/node_modules
client/frontend/render/apps/*/dist
client/frontend/render/apps/*/build
**/dist
**/build
main
migrator-main
vendor
**/vendor
migrator/migrator_bin
