PORT=8000
JAEGER_AGENT_HOST=localhost
JAEGER_AGENT_PORT=6831
JAEGER_SAMPLER_TYPE=const
JAEGER_SAMPLER_PARAM=1
EXAMPLE_ENDPOINT=https://httpbin.org
EXAMPLE_API_ACCESS_ENDPOINT=https://httpbin.org
EXAMPLE_API_CLIENT_ID=123
EXAMPLE_API_CLIENT_SECRET=456
PUBSUB_PROJECT_NAME=production

