PORT=8080
OTEL_SAMPLER_PARAM=1
OTEL_EXPORTER_TIMEOUT=1s
OTEL_BATCH_INTERVAL=5s
OTEL_BATCH_SIZE=512
DATABASE_PATH=data/db/vibes.db
MAX_NAME_LENGTH=100
MAX_QUEUE_LENGTH=200
USER_INACTIVITY_TIMEOUT=30m
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_API_KEY=
SOUNDCLOUD_API_KEY=
SOUNDCLOUD_BASE_URL=https://api.soundcloud.com
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_BASE_URL=https://api.spotify.com/v1
SPOTIFY_TOKEN_URL=https://accounts.spotify.com/api/token
SPOTIFY_REDIRECT_URI=https://127.0.0.1/api/v1/callbacks/spotify
FRONTEND_URL=https://localhost
CAST_APP_ID=1FAF5D9F
CAST_RECEIVER_URL=https://zoff.me/casting/receiver
COOKIE_SECRET=some-secret
ADMIN_PASSWORD=some-password
VITE_CAST_LOCAL_EMULATOR=
