{
	log {
		level ERROR
	}
	local_certs
}

http://localhost {
	redir https://{host}{uri}
}

localhost, 127.0.0.1 {
	handle /api/v1/rooms/*/events {
		reverse_proxy localhost:8080 {
			flush_interval -1
		}
	}

	handle /api/* {
		reverse_proxy localhost:8080
	}

	handle /metrics {
		reverse_proxy localhost:8080
	}

	handle /_healthz {
		reverse_proxy localhost:8080
	}

	handle {
		reverse_proxy localhost:3000
	}
}
